.blog-post-container h1 {
    color: inherit;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.blog-post-container h3 {
    color: inherit;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.blog-post-container p {
    color: inherit;
    font-size: 1.3rem;
}

.blog-post-container p strong {
    font-size: 1.7rem;
}

.blog-post-container ol {
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blog-post-container li {
    color: inherit;
    font-size: 1.3rem;
}

.blog-post-container li strong {
    color: inherit;
    text-decoration: underline;
}

.blog-post-container strong {
    color: inherit;
}
