@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply dark:bg-gray-800 bg-white w-full min-h-screen 
    }
}


.custom-shape-divider-top-1694848176 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694848176 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 300px;
}

.home-hover-image:hover div {
    opacity: 1
}

.biggify:hover > * {
    transform: scale(1.3)
}
